/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
